.pricing101-wrapper {
  display: contents;
}
.pricing101-pricing23 {
  gap: 0;
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.pricing101-max-width {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.pricing101-section-title {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 800px;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-shrink: 0;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
}
.pricing101-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.pricing101-content3 {
  gap: 0;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
}
.pricing101-container10 {
  width: 25%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.pricing101-column1 {
  gap: var(--dl-space-space-twounits);
  width: 20%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  border-top-width: 0px;
}
.pricing101-price1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.pricing101-price2 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.pricing101-button1 {
  width: 100%;
}
.pricing101-column2 {
  gap: var(--dl-space-space-twounits);
  width: 20%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: var(--dl-color-theme-accent1);
  border-top-width: 0px;
}
.pricing101-price3 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.pricing101-price4 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.pricing101-button2 {
  width: 100%;
}
.pricing101-column3 {
  gap: var(--dl-space-space-twounits);
  width: 20%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: var(--dl-color-theme-accent2);
  border-top-width: 0px;
}
.pricing101-price5 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.pricing101-price6 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.pricing101-button3 {
  width: 100%;
}
.pricing101-container11 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.pricing101-content21 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.pricing101-container12 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: row;
}
.pricing101-container13 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.pricing101-container14 {
  flex: 1;
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  border-bottom-width: 0px;
}
.pricing101-container15 {
  flex: 1;
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  border-bottom-width: 0px;
}
.pricing101-container16 {
  flex: 1;
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  border-bottom-width: 0px;
}
.pricing101-container17 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: row;
}
.pricing101-container18 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.pricing101-container19 {
  flex: 1;
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  border-bottom-width: 0px;
}
.pricing101-container20 {
  flex: 1;
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  border-bottom-width: 0px;
}
.pricing101-container21 {
  flex: 1;
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  border-bottom-width: 0px;
}
.pricing101-container22 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: row;
}
.pricing101-container23 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.pricing101-container24 {
  flex: 1;
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  border-bottom-width: 0px;
}
.pricing101-container25 {
  flex: 1;
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  border-bottom-width: 0px;
}
.pricing101-container26 {
  flex: 1;
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  border-bottom-width: 0px;
}
.pricing101-container27 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: row;
}
.pricing101-container28 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.pricing101-container29 {
  flex: 1;
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  border-bottom-width: 0px;
}
.pricing101-container30 {
  flex: 1;
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  border-bottom-width: 0px;
}
.pricing101-container31 {
  flex: 1;
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  border-bottom-width: 0px;
}
.pricing101-container32 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: row;
}
.pricing101-container33 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.pricing101-container34 {
  flex: 1;
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  border-bottom-width: 0px;
}
.pricing101-container35 {
  flex: 1;
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  border-bottom-width: 0px;
}
.pricing101-container36 {
  flex: 1;
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  border-bottom-width: 0px;
}
.pricing101-container37 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.pricing101-content22 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.pricing101-container38 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: row;
}
.pricing101-container39 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.pricing101-container40 {
  flex: 1;
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  border-bottom-width: 0px;
}
.pricing101-container41 {
  flex: 1;
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  border-bottom-width: 0px;
}
.pricing101-container42 {
  flex: 1;
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  border-bottom-width: 0px;
}
.pricing101-container43 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: row;
}
.pricing101-container44 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.pricing101-container45 {
  flex: 1;
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  border-bottom-width: 0px;
}
.pricing101-container46 {
  flex: 1;
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  border-bottom-width: 0px;
}
.pricing101-container47 {
  flex: 1;
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  border-bottom-width: 0px;
}
.pricing101-container48 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: row;
}
.pricing101-container49 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.pricing101-container50 {
  flex: 1;
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  border-bottom-width: 0px;
}
.pricing101-container51 {
  flex: 1;
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  border-bottom-width: 0px;
}
.pricing101-container52 {
  flex: 1;
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  border-bottom-width: 0px;
}
.pricing101-container53 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: row;
}
.pricing101-container54 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.pricing101-container55 {
  flex: 1;
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  border-bottom-width: 0px;
}
.pricing101-container56 {
  flex: 1;
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  border-bottom-width: 0px;
}
.pricing101-container57 {
  flex: 1;
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  border-bottom-width: 0px;
}
.pricing101-container58 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: row;
}
.pricing101-container59 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.pricing101-container60 {
  flex: 1;
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  border-bottom-width: 0px;
}
.pricing101-container61 {
  flex: 1;
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  border-bottom-width: 0px;
}
.pricing101-container62 {
  flex: 1;
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  border-bottom-width: 0px;
}
.cart-fragment37 {
  display: contents;
}
.cart-text185 {
  display: inline-block;
  text-align: center;
}
.cart-fragment20 {
  display: contents;
}
.cart-text166 {
  display: inline-block;
}
.cart-fragment29 {
  display: contents;
}
.cart-text175 {
  display: inline-block;
}
.cart-fragment16 {
  display: contents;
}
.cart-text162 {
  width: 20px;
  display: inline-block;
}
.cart-fragment30 {
  display: contents;
}
.cart-text176 {
  display: inline-block;
  text-align: center;
}
.cart-fragment27 {
  display: contents;
}
.cart-text173 {
  display: inline-block;
}
.cart-fragment22 {
  display: contents;
}
.cart-text168 {
  display: inline-block;
}
.cart-fragment32 {
  display: contents;
}
.cart-text180 {
  display: inline-block;
  font-size: 35px;
}
.cart-fragment12 {
  display: contents;
}
.cart-text158 {
  display: inline-block;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.cart-fragment11 {
  display: contents;
}
.cart-text157 {
  display: inline-block;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.cart-fragment28 {
  display: contents;
}
.cart-text174 {
  display: inline-block;
  text-align: center;
}
.cart-fragment17 {
  display: contents;
}
.cart-text163 {
  display: inline-block;
}
.cart-fragment26 {
  display: contents;
}
.cart-text172 {
  display: inline-block;
}
.cart-fragment35 {
  display: contents;
}
.cart-text183 {
  display: inline-block;
  text-align: center;
}
.cart-fragment39 {
  display: contents;
}
.cart-text187 {
  display: inline-block;
}
.cart-fragment19 {
  display: contents;
}
.cart-text165 {
  display: inline-block;
}
.cart-fragment13 {
  display: contents;
}
.cart-text159 {
  width: 20px;
  display: inline-block;
}
.cart-fragment41 {
  display: contents;
}
.cart-text189 {
  display: inline-block;
}
.cart-fragment25 {
  display: contents;
}
.cart-text171 {
  display: inline-block;
}
.cart-fragment38 {
  display: contents;
}
.cart-text186 {
  display: inline-block;
  text-align: center;
}
.cart-fragment34 {
  display: contents;
}
.cart-text182 {
  display: inline-block;
}
.cart-fragment10 {
  display: contents;
}
.cart-text156 {
  display: inline-block;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.cart-fragment33 {
  display: contents;
}
.cart-text181 {
  display: inline-block;
  font-size: 35px;
}
.cart-fragment14 {
  display: contents;
}
.cart-text160 {
  display: inline-block;
}
.cart-fragment24 {
  display: contents;
}
.cart-text170 {
  display: inline-block;
}
.cart-fragment21 {
  display: contents;
}
.cart-text167 {
  display: inline-block;
}
.cart-fragment36 {
  display: contents;
}
.cart-text184 {
  display: inline-block;
}
.cart-fragment23 {
  display: contents;
}
.cart-text169 {
  display: inline-block;
}
.cart-fragment31 {
  display: contents;
}
.cart-text179 {
  display: inline-block;
  font-size: 35px;
}
.cart-fragment15 {
  display: contents;
}
.cart-text161 {
  height: auto;
  display: inline-block;
  align-self: center;
}
.cart-fragment40 {
  display: contents;
}
.cart-text188 {
  display: inline-block;
}
.cart-fragment18 {
  display: contents;
}
.cart-text164 {
  height: auto;
  display: inline-block;
  align-self: center;
}
@media(max-width: 991px) {
  .pricing101-content3 {
    flex-direction: row;
  }
}
@media(max-width: 767px) {
  .pricing101-content3 {
    flex-direction: column;
  }
  .pricing101-column1 {
    width: 100%;
    border-top-width: 1px;
  }
  .pricing101-column2 {
    width: 100%;
  }
  .pricing101-column3 {
    width: 100%;
  }
  .pricing101-container11 {
    display: none;
  }
  .pricing101-container37 {
    display: none;
  }
  .cart-text180 {
    font-size: 24px;
  }
  .cart-text181 {
    font-size: 24px;
  }
  .cart-text179 {
    font-size: 24px;
  }
}
@media(max-width: 479px) {
  .pricing101-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .pricing101-column1 {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .pricing101-button1 {
    width: 100%;
    padding-left: var(--dl-space-space-unit);
  }
  .pricing101-column2 {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .pricing101-button2 {
    width: 100%;
  }
  .pricing101-column3 {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .pricing101-button3 {
    width: 100%;
  }
  .cart-text180 {
    font-size: 16px;
  }
  .cart-text181 {
    font-size: 16px;
  }
  .cart-text179 {
    font-size: 16px;
  }
}

.footer61-wrapper {
  display: contents;
}
.footer61-container1 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer61-max-width {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer61-content {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-twounits);
}
.footer61-newsletter {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 500px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footer61-actions {
  gap: 16px;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footer61-form {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-shrink: 0;
}
.footer61-container2 {
  width: 365px;
  display: flex;
  align-items: flex-start;
}
.footer61-text-input {
  width: 100%;
  height: 32px;
  display: flex;
  font-size: 16px;
  box-sizing: content-box;
  text-align: left;
  align-items: center;
  font-family: Roboto;
  font-weight: 400;
  background-color: transparent;
}
.footer61-links {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: flex-end;
}
.footer61-column1 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footer61-footer-links1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footer61-column2 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footer61-footer-links2 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footer61-column3 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footer61-social-links {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footer61-link14 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.footer61-link15 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.footer61-link16 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.footer61-link17 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.footer61-link18 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.footer61-credits {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footer61-row {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.footer61-footer-links3 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
}
.cart-fragment50 {
  display: contents;
}
.cart-text198 {
  display: inline-block;
}
.cart-fragment54 {
  display: contents;
}
.cart-text202 {
  display: inline-block;
}
.cart-fragment52 {
  display: contents;
}
.cart-text200 {
  display: inline-block;
}
.cart-fragment46 {
  display: contents;
}
.cart-text194 {
  display: inline-block;
}
.cart-fragment42 {
  display: contents;
}
.cart-text190 {
  display: inline-block;
}
.cart-fragment59 {
  display: contents;
}
.cart-text207 {
  display: inline-block;
}
.cart-fragment51 {
  display: contents;
}
.cart-text199 {
  display: inline-block;
}
.cart-fragment60 {
  display: contents;
}
.cart-text208 {
  display: inline-block;
}
.cart-fragment44 {
  display: contents;
}
.cart-text192 {
  display: inline-block;
}
.cart-fragment58 {
  display: contents;
}
.cart-text206 {
  display: inline-block;
}
.cart-fragment48 {
  display: contents;
}
.cart-text196 {
  display: inline-block;
}
.cart-fragment55 {
  display: contents;
}
.cart-text203 {
  display: inline-block;
}
.cart-fragment53 {
  display: contents;
}
.cart-text201 {
  display: inline-block;
}
.cart-fragment45 {
  display: contents;
}
.cart-text193 {
  display: inline-block;
}
.cart-fragment57 {
  display: contents;
}
.cart-text205 {
  display: inline-block;
}
.cart-fragment49 {
  display: contents;
}
.cart-text197 {
  display: inline-block;
}
.cart-fragment56 {
  display: contents;
}
.cart-text204 {
  display: inline-block;
}
.cart-fragment43 {
  display: contents;
}
.cart-text191 {
  display: inline-block;
}
.cart-fragment47 {
  display: contents;
}
.cart-text195 {
  display: inline-block;
}
@media(max-width: 991px) {
  .footer61-newsletter {
    width: 300px;
  }
  .footer61-form {
    width: 100%;
    flex-direction: column;
  }
  .footer61-container2 {
    width: 100%;
  }
  .footer61-text-input {
    width: 100%;
    padding: var(--dl-space-space-halfunit);
  }
  .footer61-button {
    width: 100%;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 767px) {
  .footer61-content {
    flex-direction: column;
  }
  .footer61-newsletter {
    width: 100%;
  }
  .footer61-form {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
  }
  .footer61-container2 {
    width: 100%;
  }
  .footer61-button {
    width: 208px;
  }
  .footer61-links {
    width: 100%;
    align-items: flex-start;
    justify-content: center;
  }
  .footer61-column1 {
    align-items: center;
  }
  .footer61-footer-links1 {
    align-self: center;
  }
  .footer61-column2 {
    align-items: center;
  }
  .footer61-footer-links2 {
    align-self: center;
  }
  .footer61-column3 {
    align-items: center;
  }
  .footer61-social-links {
    align-self: center;
  }
  .footer61-row {
    flex-direction: column;
  }
  .cart-text207 {
    text-align: center;
  }
  .cart-text208 {
    text-align: center;
  }
  .cart-text206 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .footer61-actions {
    width: 100%;
  }
  .footer61-form {
    width: 100%;
    flex-direction: column;
  }
  .footer61-container2 {
    width: 100%;
  }
  .footer61-button {
    width: 100%;
  }
  .footer61-links {
    flex-direction: column;
  }
  .footer61-column1 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer61-footer-links1 {
    align-items: center;
    justify-content: center;
  }
  .footer61-column2 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer61-footer-links2 {
    align-items: center;
    justify-content: center;
  }
  .footer61-column3 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer61-social-links {
    align-items: center;
    justify-content: center;
  }
  .footer61-credits {
    gap: 0;
  }
  .footer61-row {
    gap: var(--dl-space-space-oneandhalfunits);
    align-items: center;
    justify-content: center;
  }
  .footer61-footer-links3 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.cart-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #6178f1;
}
.cart-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #4c66eb;
}
.cart-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.cart-links1 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.cart-link11 {
  color: var(--dl-color-theme-secondary1);
  font-size: 36px;
  text-decoration: none;
}
.cart-link21 {
  color: var(--dl-color-theme-secondary1);
}
.cart-link51 {
  text-decoration: none;
}
.cart-buttons1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.cart-action11 {
  display: flex;
  flex-direction: row;
}
.cart-action21 {
  display: flex;
  flex-direction: row;
}
.cart-navlink {
  display: contents;
}
.cart-icon10 {
  text-decoration: none;
}
.cart-burger-menu {
  display: none;
}
.cart-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.cart-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
.cart-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.cart-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.cart-logo {
  height: 3rem;
}
.cart-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.cart-links2 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.cart-link12 {
  color: var(--dl-color-theme-secondary1);
  font-size: 36px;
  text-decoration: none;
}
.cart-link22 {
  color: var(--dl-color-theme-secondary1);
  text-decoration: none;
}
.cart-link32 {
  text-decoration: none;
}
.cart-link42 {
  text-decoration: none;
}
.cart-link52 {
  text-decoration: none;
}
.cart-buttons2 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: row;
}
.cart-icon-group {
  gap: var(--dl-space-space-twounits);
  display: flex;
}
.cart-form {
  width: 100%;
  height: 358px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.cart-textinput1 {
  width: 100%;
  height: 66px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  background-color: #7185eb;
}
.cart-textinput2 {
  width: 100%;
  height: 63px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  background-color: #7185EB;
}
.cart-textinput3 {
  width: 100%;
  height: 65px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  background-color: #7185EB;
}
.cart-text104 {
  font-size: 24px;
}
.cart-button {
  fill: #6178f1;
  color: rgb(97, 120, 241);
  width: 1200px;
  height: 47px;
  font-size: 24px;
  border-color: var(--dl-color-theme-primary1);
  background-color: var(--dl-color-theme-neutral-light2);
}
.cart-container2 {
  width: 100%;
  height: 569px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
}
.cart-image1 {
  top: 32px;
  left: 13px;
  width: 197px;
  height: 228px;
  position: absolute;
  object-fit: cover;
}
.cart-text109 {
  top: 32px;
  left: 247px;
  color: var(--dl-color-theme-neutral-dark);
  position: absolute;
  font-size: 20px;
  font-weight: 200;
}
.cart-text110 {
  font-weight: 600;
}
.cart-text111 {
  font-style: normal;
}
.cart-text112 {
  font-size: 18px;
  font-weight: 400;
}
.cart-text113 {
  font-style: normal;
}
.cart-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.cart-container4 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.cart-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.cart-dropdown-toggle1 {
  top: -219px;
  fill: #595959;
  color: #595959;
  right: -420px;
  width: 85px;
  height: 30px;
  display: inline-flex;
  position: absolute;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.cart-text114 {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.cart-dropdown-arrow {
  transition: 0.3s;
}
.cart-icon22 {
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
.cart-dropdown-list {
  width: 377px;
  display: none;
  z-index: 100;
  position: relative;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.cart-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.cart-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.cart-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.cart-text115 {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.cart-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.cart-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.cart-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.cart-text116 {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.cart-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.cart-dropdown-toggle4 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.cart-dropdown-toggle4:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.cart-text117 {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.cart-dropdown4 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.cart-dropdown-toggle5 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.cart-dropdown-toggle5:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.cart-text118 {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.cart-dropdown5 {
  top: 0px;
  right: 0px;
  cursor: pointer;
  margin: var(--dl-space-space-halfunit);
  display: inline-block;
  position: absolute;
  border-radius: var(--dl-radius-radius-radius2);
}
.cart-dropdown6 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.cart-dropdown7 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.cart-image2 {
  top: 8px;
  left: 16px;
  width: 199px;
  height: 258px;
  position: absolute;
  object-fit: cover;
}
.cart-text119 {
  top: 19px;
  right: -483px;
  position: absolute;
}
.cart-text120 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
}
.cart-text122 {
  font-size: 18px;
  text-transform: capitalize;
}
.cart-checkbox2 {
  top: -35px;
  left: -571px;
  position: absolute;
}
.cart-container5 {
  width: 100%;
  height: 298px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.cart-text126 {
  font-size: 25px;
}
.cart-text127 {
  font-size: 20px;
}
.cart-text128 {
  font-size: 20px;
}
.cart-text130 {
  top: 48px;
  left: 24px;
  position: absolute;
  font-size: 20px;
}
.cart-container6 {
  flex: 0 0 auto;
  width: 100%;
  height: 265px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.cart-container7 {
  width: 536px;
  height: 277px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.cart-text133 {
  top: 33px;
  left: 29px;
  position: absolute;
}
.cart-text134 {
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
}
.cart-text138 {
  font-size: 20px;
}
.cart-text139 {
  font-size: 20px;
}
.cart-text140 {
  font-size: 20px;
}
.cart-text141 {
  font-size: 20px;
}
.cart-text142 {
  font-size: 20px;
}
.cart-text144 {
  right: -294px;
  bottom: -30px;
  position: absolute;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
}
.cart-text145 {
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
}
.cart-text146 {
  left: 29px;
  bottom: 166px;
  position: absolute;
  font-size: 20px;
}
.cart-text147 {
  top: 72px;
  left: 806px;
  position: absolute;
  font-size: 20px;
}
.cart-text148 {
  left: 810px;
  bottom: 143px;
  position: absolute;
  font-size: 20px;
}
.cart-text151 {
  left: 808px;
  bottom: 94px;
  position: absolute;
  font-size: 20px;
}
.cart-fragment10 {
  display: contents;
}
.cart-text156 {
  display: inline-block;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.cart-fragment11 {
  display: contents;
}
.cart-text157 {
  display: inline-block;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.cart-fragment12 {
  display: contents;
}
.cart-text158 {
  display: inline-block;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.cart-fragment13 {
  display: contents;
}
.cart-text159 {
  width: 20px;
  display: inline-block;
}
.cart-fragment14 {
  display: contents;
}
.cart-text160 {
  display: inline-block;
}
.cart-fragment15 {
  display: contents;
}
.cart-text161 {
  height: auto;
  display: inline-block;
  align-self: center;
}
.cart-fragment16 {
  display: contents;
}
.cart-text162 {
  width: 20px;
  display: inline-block;
}
.cart-fragment17 {
  display: contents;
}
.cart-text163 {
  display: inline-block;
}
.cart-fragment18 {
  display: contents;
}
.cart-text164 {
  height: auto;
  display: inline-block;
  align-self: center;
}
.cart-fragment19 {
  display: contents;
}
.cart-text165 {
  display: inline-block;
}
.cart-fragment20 {
  display: contents;
}
.cart-text166 {
  display: inline-block;
}
.cart-fragment21 {
  display: contents;
}
.cart-text167 {
  display: inline-block;
}
.cart-fragment22 {
  display: contents;
}
.cart-text168 {
  display: inline-block;
}
.cart-fragment23 {
  display: contents;
}
.cart-text169 {
  display: inline-block;
}
.cart-fragment24 {
  display: contents;
}
.cart-text170 {
  display: inline-block;
}
.cart-fragment25 {
  display: contents;
}
.cart-text171 {
  display: inline-block;
}
.cart-fragment26 {
  display: contents;
}
.cart-text172 {
  display: inline-block;
}
.cart-fragment27 {
  display: contents;
}
.cart-text173 {
  display: inline-block;
}
.cart-fragment28 {
  display: contents;
}
.cart-text174 {
  display: inline-block;
  text-align: center;
}
.cart-fragment29 {
  display: contents;
}
.cart-text175 {
  display: inline-block;
}
.cart-fragment30 {
  display: contents;
}
.cart-text176 {
  display: inline-block;
  text-align: center;
}
.cart-fragment31 {
  display: contents;
}
.cart-text179 {
  display: inline-block;
  font-size: 35px;
}
.cart-fragment32 {
  display: contents;
}
.cart-text180 {
  display: inline-block;
  font-size: 35px;
}
.cart-fragment33 {
  display: contents;
}
.cart-text181 {
  display: inline-block;
  font-size: 35px;
}
.cart-fragment34 {
  display: contents;
}
.cart-text182 {
  display: inline-block;
}
.cart-fragment35 {
  display: contents;
}
.cart-text183 {
  display: inline-block;
  text-align: center;
}
.cart-fragment36 {
  display: contents;
}
.cart-text184 {
  display: inline-block;
}
.cart-fragment37 {
  display: contents;
}
.cart-text185 {
  display: inline-block;
  text-align: center;
}
.cart-fragment38 {
  display: contents;
}
.cart-text186 {
  display: inline-block;
  text-align: center;
}
.cart-fragment39 {
  display: contents;
}
.cart-text187 {
  display: inline-block;
}
.cart-fragment40 {
  display: contents;
}
.cart-text188 {
  display: inline-block;
}
.cart-fragment41 {
  display: contents;
}
.cart-text189 {
  display: inline-block;
}
.cart-fragment42 {
  display: contents;
}
.cart-text190 {
  display: inline-block;
}
.cart-fragment43 {
  display: contents;
}
.cart-text191 {
  display: inline-block;
}
.cart-fragment44 {
  display: contents;
}
.cart-text192 {
  display: inline-block;
}
.cart-fragment45 {
  display: contents;
}
.cart-text193 {
  display: inline-block;
}
.cart-fragment46 {
  display: contents;
}
.cart-text194 {
  display: inline-block;
}
.cart-fragment47 {
  display: contents;
}
.cart-text195 {
  display: inline-block;
}
.cart-fragment48 {
  display: contents;
}
.cart-text196 {
  display: inline-block;
}
.cart-fragment49 {
  display: contents;
}
.cart-text197 {
  display: inline-block;
}
.cart-fragment50 {
  display: contents;
}
.cart-text198 {
  display: inline-block;
}
.cart-fragment51 {
  display: contents;
}
.cart-text199 {
  display: inline-block;
}
.cart-fragment52 {
  display: contents;
}
.cart-text200 {
  display: inline-block;
}
.cart-fragment53 {
  display: contents;
}
.cart-text201 {
  display: inline-block;
}
.cart-fragment54 {
  display: contents;
}
.cart-text202 {
  display: inline-block;
}
.cart-fragment55 {
  display: contents;
}
.cart-text203 {
  display: inline-block;
}
.cart-fragment56 {
  display: contents;
}
.cart-text204 {
  display: inline-block;
}
.cart-fragment57 {
  display: contents;
}
.cart-text205 {
  display: inline-block;
}
.cart-fragment58 {
  display: contents;
}
.cart-text206 {
  display: inline-block;
}
.cart-fragment59 {
  display: contents;
}
.cart-text207 {
  display: inline-block;
}
.cart-fragment60 {
  display: contents;
}
.cart-text208 {
  display: inline-block;
}
@media(max-width: 767px) {
  .cart-text179 {
    font-size: 24px;
  }
  .cart-text180 {
    font-size: 24px;
  }
  .cart-text181 {
    font-size: 24px;
  }
  .cart-text206 {
    text-align: center;
  }
  .cart-text207 {
    text-align: center;
  }
  .cart-text208 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .cart-navbar-interactive {
    padding: var(--dl-space-space-unit);
    padding-right: 16px;
  }
  .cart-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
  .cart-text179 {
    font-size: 16px;
  }
  .cart-text180 {
    font-size: 16px;
  }
  .cart-text181 {
    font-size: 16px;
  }
}
